<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TĐ Mobile - Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../../static/assets/images/icon/favicon.ico" th:href="@{/assets/images/icon/favicon.ico}">
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/themify-icons.css" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" href="../../static/assets/css/metisMenu.css" th:href="@{/assets/css/metisMenu.css}">
    <link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/slicknav.min.css" th:href="@{/assets/css/slicknav.min.css}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">

    <!-- others css -->
    <link rel="stylesheet" href="../../static/assets/css/typography.css" th:href="@{/assets/css/typography.css}">
    <link rel="stylesheet" href="../../static/assets/css/default-css.css" th:href="@{/assets/css/default-css.css}">
    <link rel="stylesheet" href="../../static/assets/css/styles.css" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/css/responsive.css" th:href="@{/assets/css/responsive.css}">
    <!-- modernizr css -->
    <script src="../../static/assets/js/vendor/modernizr-2.8.3.min.js" th:href="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
    <script src="/assets/js/pending-orders-badge.js"></script>
    <style>
        .custom-legend {
        display: grid;
        grid-template-columns: repeat(2, max-content); /* 2 cột có chiều rộng vừa đủ */
        gap: 10px 40px; /* khoảng cách giữa cột và dòng */
        font-size: 14px;
        color: #333;
        margin-top: 20px;
        justify-content: center; /* CĂN GIỮA toàn bộ grid */
        }

        .custom-legend-item {
        display: flex;
        align-items: center;
        }

        .custom-legend-color {
        width: 14px;
        height: 14px;
        margin-right: 8px;
        border-radius: 50%;
        display: inline-block;
        }

        @media (max-width: 350px) {
            .custom-legend {
                grid-template-columns: 1fr; /* Chuyển thành 1 cột khi màn hình nhỏ */
                padding: 0 0 0 3rem;
            }
        }

        @media (min-width: 992px) and (max-width: 1045px) {
            .custom-legend {
                grid-template-columns: 1fr; /* Chuyển thành 1 cột khi không còn đủ chỗ hiển thị legend 2 cột*/
                padding: 0 0 0 3rem;
            }
        }
    </style>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div th:replace="~{Fragments/sidebar :: *}"></div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div th:replace="~{Fragments/header :: *}"></div>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Trang chủ</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="/management/dashboard">Trang chủ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="../../static/assets/images/author/avatar.png" alt="avatar" th:src="@{/assets/images/author/avatar.png}">
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown" th:text="${username}"><i class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Thông báo</a>
                            <a class="dropdown-item" href="#">Cài đặt</a>
                            <a class="dropdown-item" href="/logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <div class="row">
                <!-- Các thẻ start -->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4 mt-5 mb-3">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between flex-column" style="gap: 0.5rem;">
                                        <div class="seofct-icon"><i class="ti-thumb-up"></i> Tổng số nhân viên</div>
                                        <h2 th:text="${totalStaff}">2,315</h2>
                                    </div>
<!--                                    <canvas id="seolinechart1" height="50"></canvas>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 mb-3">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between flex-column" style="gap: 0.5rem;">
                                        <div class="seofct-icon"><i class="ti-thumb-up"></i> Tổng số khách hàng</div>
                                        <h2 th:text="${totalCustomers}">2,315</h2>
                                    </div>
<!--                                    <canvas id="seolinechart2" height="50"></canvas>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 mb-3">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between flex-column" style="gap: 0.5rem;">
                                        <div class="seofct-icon"><i class="ti-thumb-up"></i> Tổng số sản phẩm</div>
                                        <h2 th:text="${totalProducts}">2,315</h2>
                                    </div>
<!--                                    <canvas id="seolinechart3" height="50"></canvas>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 mb-3">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between flex-column" style="gap: 0.5rem;">
                                        <div class="seofct-icon"><i class="ti-thumb-up"></i> Lợi nhuận tháng này</div>
                                        <h2 th:text="${#numbers.formatDecimal(monthlyRevenue, 0, 'POINT', 0, 'POINT') + 'đ'}">100.000.000đ</h2>
                                    </div>
<!--                                    <canvas id="seolinechart4" height="50"></canvas>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 mb-3">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between flex-column" style="gap: 0.5rem;">
                                        <div class="seofct-icon"><i class="ti-thumb-up"></i> Đơn hàng đang chờ xử lý</div>
                                        <h2 th:text="${totalPendingOrders}">2,315</h2>
                                    </div>
<!--                                    <canvas id="seolinechart5" height="50"></canvas>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 mb-3">
                            <div class="card">
                                <div class="seo-fact sbg1">
                                    <div class="p-4 d-flex justify-content-between flex-column" style="gap: 0.5rem;">
                                        <div class="seofct-icon"><i class="ti-thumb-up"></i> Đơn hàng đang xử lý</div>
                                        <h2 th:text="${totalProcessingOrders}">2,315</h2>
                                    </div>
<!--                                    <canvas id="seolinechart6" height="50"></canvas>-->
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Các thẻ end -->
                <!-- Biểu đồ cột doanh thu theo tháng start -->
                <div class="col-lg-8 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Doanh thu theo tháng</h4>
                            <div id="ambarchart1"></div>
                        </div>
                    </div>
                </div>
                <!-- Biểu đồ cột doanh thu theo tháng end -->
                <!-- Biểu đồ tròn tỉ lệ đơn hàng theo trạng thái start -->
                <div class="col-lg-4 mt-5">
                    <div class="card h-full">
                        <div class="card-body">
                            <h4 class="header-title">Đơn hàng theo trạng thái</h4>
                            <canvas id="orderStatusChart" height="233"></canvas>
                            <div id="custom-legend" class="custom-legend"></div>
                        </div>
                    </div>
                </div>
                <!-- Biểu đồ tròn tỉ lệ đơn hàng theo trạng thái end -->
                <!-- data table start -->
                <div class="col-lg-12 mt-5">
                    <div class="card">
                        <!--Bảng 'Các đơn hàng mới nhất' start-->
                        <div class="card-body">
                            <h4 class="header-title">Các đơn hàng mới nhất</h4>
                            <div class="data-tables table-responsive">
                                <table id="dataTable" class="text-center">
                                    <thead class="bg-light text-capitalize">
                                    <tr>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Tổng giá trị đơn hàng</th>
                                        <th>Ngày đặt</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="order : ${get10LatestOrders}">
                                            <td th:text="${order.orderId}"></td>
                                            <td th:text="${order.user.fullname}"></td>
                                            <td th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'POINT', 0, 'POINT') + 'đ'}"></td>
                                            <td th:text="${order.orderTime}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Bảng 'Các đơn hàng mới nhất' end-->
                        <!--Bảng 'Sản phẩm bán chạy trong tháng' start-->
                        <div class="card-body">
                            <h4 class="header-title">Sản phẩm bán chạy trong tháng</h4>
                            <div class="data-tables table-responsive">
                                <table id="dataTable2" class="text-center">
                                    <thead class="bg-light text-capitalize">
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Màu</th>
                                        <th>ROM</th>
                                        <th>Giá bán</th>
                                        <th>Số lượng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="bestProduct : ${getBestSellingProductsCurrentMonth}">
                                        <td th:text="${bestProduct.productId}"></td>
                                        <td th:text="${bestProduct.name}"></td>
                                        <td th:text="${bestProduct.color}"></td>
                                        <td th:text="${bestProduct.rom}"></td>
                                        <td th:text="${#numbers.formatDecimal(bestProduct.sellingPrice, 0, 'POINT', 0, 'POINT') + 'đ'}"></td>
                                        <td th:text="${bestProduct.totalQuantity}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Bảng 'Sản phẩm bán chạy nhất tháng' end-->
                        <!--Bảng 'Sản phẩm đã bán gần đây' start-->
                        <div class="card-body">
                            <h4 class="header-title">Sản phẩm đã bán gần đây</h4>
                            <div class="data-tables table-responsive">
                                <table id="dataTable3" class="text-center">
                                    <thead class="bg-light text-capitalize">
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Màu</th>
                                        <th>ROM</th>
                                        <th>Giá bán</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Ngày</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="recentProduct : ${getRecentlySoldProducts}">
                                        <td th:text="${recentProduct.productId}"></td>
                                        <td th:text="${recentProduct.name}"></td>
                                        <td th:text="${recentProduct.color}"></td>
                                        <td th:text="${recentProduct.rom}"></td>
                                        <td th:text="${#numbers.formatDecimal(recentProduct.sellingPrice, 0, 'POINT', 0, 'POINT') + 'đ'}"></td>
                                        <td th:text="${recentProduct.orderId}"></td>
                                        <td th:text="${recentProduct.orderTime}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Bảng 'Sản phẩm đã bán gần đây' end-->
                    </div>
                </div>
                <!-- data table end -->

            </div>
        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <div th:replace="~{Fragments/footer :: *}"></div>
    <!-- footer area end-->
</div>
<!-- page container area end -->

<!-- jquery latest version -->
<script src="../../static/assets/js/vendor/jquery-2.2.4.min.js" th:src="@{/assets/js/vendor/jquery-2.2.4.min.js}"></script>
<!-- bootstrap 4 js -->
<script src="../../static/assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
<script src="../../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../static/assets/js/owl.carousel.min.js" th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script src="../../static/assets/js/metisMenu.min.js" th:src="@{/assets/js/metisMenu.min.js}"></script>
<script src="../../static/assets/js/jquery.slimscroll.min.js" th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
<script src="../../static/assets/js/jquery.slicknav.min.js" th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" ></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js" ></script>
<!-- start amcharts -->
<!-- Phần biểu đồ cột-->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- all line chart activation -->
<!-- Đường kẻ biểu đồ -->
<script src="../../static/assets/js/line-chart.js" th:src="@{/assets/js/line-chart.js}"></script>
<!-- all pie chart -->
<!-- Biểu đồ tròn -->
<script src="../../static/assets/js/pie-chart.js" th:src="@{/assets/js/pie-chart.js}"></script>
<!-- all bar chart -->
<!-- Biểu đồ cột -->
<script src="../../static/assets/js/bar-chart.js" th:src="@{/assets/js/bar-chart.js}"></script>
<!-- Datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

<!-- others plugins -->
<script src="../../static/assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"></script>
<script src="../../static/assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>

<!-- Script cho data table -->
<script>
    $(document).ready(function () {
        // Danh sách các bảng cần áp dụng DataTable
        var tableIds = ['#dataTable', '#dataTable2', '#dataTable3', '#dataTable4', '#dataTable5',
            '#dataTable6', '#dataTable7', '#dataTable8', '#dataTable9', '#dataTable10'];

        // Duyệt qua tất cả các bảng trong danh sách
        tableIds.forEach(function (tableId) {
            // Kiểm tra nếu DataTable đã được khởi tạo, thì hủy nó đi trước khi khởi tạo lại
            if ($.fn.dataTable.isDataTable(tableId)) {
                $(tableId).DataTable().destroy();
            }

            // Khởi tạo lại DataTable với các cài đặt chung
            $(tableId).DataTable({
                "paging": false,        // Tắt phân trang
                "searching": false,     // Tắt tìm kiếm
                "info": false,          // Tắt thông tin (hiển thị số lượng bản ghi)
                "lengthChange": false,   // Tắt chọn số lượng bản ghi (Show)
                "responsive": false
            });
        });
    });
</script>

<!--Script cho biểu đồ cột 'Doanh thu theo tháng'-->
<script th:inline="javascript">
    /*<![CDATA[*/
        let revenueData = /*[[${revenueByMonth}]]*/ {};
        let importCostData = /*[[${importCostByMonth}]]*/ {};

        let chartData2 = [];

        for (let month in revenueData) {
            chartData2.push({
                month: month,
                revenue: revenueData[month] / 1000000,
                importCost: importCostData[month] ? importCostData[month] / 1000000 : 0,
                color: "#bfbffd",
                color2: "#7474F0"
            });
        }

        console.log("Dữ liệu biểu đồ: ", chartData2);

        if (document.getElementById("ambarchart1")) {
            var chart = AmCharts.makeChart("ambarchart1", {
                "theme": "light",
                "type": "serial",
                "dataProvider": chartData2,
                "startDuration": 1,
                "graphs": [{
                    "balloonText": "Tổng giá trị các đơn hàng đã hoàn thành \[\[category\]\]: <b>\[\[value\]\] triệu</b>",
                    "fillAlphas": 0.9,
                    "fillColorsField": "color2",
                    "lineAlpha": 0.2,
                    "title": "Doanh thu",
                    "type": "column",
                    "columnWidth": 0.5,
                    "valueField": "revenue"
                }, {
                    "balloonText": "Tổng giá nhập các sản phẩm trong các đơn hàng: <b>\[\[value\]\] triệu</b>",
                    "fillAlphas": 0.9,
                    "fillColorsField": "color",
                    "lineAlpha": 0.2,
                    "title": "Chi phí nhập",
                    "type": "column",
                    "clustered": false,
                    "valueField": "importCost"
                }],
                "categoryField": "month",
                "categoryAxis": {
                    "gridPosition": "start",
                    "labelRotation": 0
                },
                "export": {
                    "enabled": false
                }
            });
        }
    /*]]>*/
</script>

<!--Script cho biểu đồ tròn 'Đơn hàng theo trạng thái'-->
<script th:inline="javascript">
    /*<![CDATA[*/
        let countOrdersByStatusData = /*[[${countOrdersByStatus}]]*/ {};

        if ($('#orderStatusChart').length) {
            var dataLabels = [
                "Đang chờ thanh toán",
                "Đang chờ xử lý",
                "Đang xử lý",
                "Đang giao",
                "Đã hoàn thành",
                "Đã hủy"
            ];
            var backgroundColors = [
                "#8A8DFB",
                "#50B5F2",
                "#F8CB3F",
                "#FF9F40",
                "#12C498",
                "#F44336"
            ];

            // Tạo mảng dữ liệu tương ứng với thứ tự dataLabels
            const chartValues = dataLabels.map(label => countOrdersByStatusData[label] || 0);

            var ctx = document.getElementById("orderStatusChart").getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'doughnut',
                // The data for our dataset
                data: {
                    labels: dataLabels,
                    datasets: [{
                        backgroundColor: backgroundColors,
                        borderColor: '#fff',
                        data: chartValues,
                    }]
                },
                // Configuration options go here
                options: {
                    legend: {
                        display: false,
                        position: 'bottom',
                        labels: {
                            boxWidth: 12,
                            padding: 15,
                            fontSize: 13,
                            usePointStyle: true
                        }
                    },
                    animation: {
                        easing: "easeInOutBack"
                    },
                    maintainAspectRatio: true, // giữ nguyên tỉ lệ
                    responsive: true
                }
            });

            // Tạo legend custom
            var legendContainer = document.getElementById('custom-legend');
            legendContainer.innerHTML = ''; // Xóa nếu có legend cũ

            dataLabels.forEach(function (label, index) {
                var item = document.createElement('div');
                item.classList.add('custom-legend-item');

                var colorBox = document.createElement('span');
                colorBox.classList.add('custom-legend-color');
                colorBox.style.backgroundColor = backgroundColors[index];

                var text = document.createTextNode(label);

                item.appendChild(colorBox);
                item.appendChild(text);
                legendContainer.appendChild(item);
            });
        }
    /*]]>*/
</script>


</body>

</html>
