<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TĐ Mobile - Quản lý khách hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../../static/assets/images/icon/favicon.ico" th:href="@{/assets/images/icon/favicon.ico}">
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/themify-icons.css" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" href="../../static/assets/css/metisMenu.css" th:href="@{/assets/css/metisMenu.css}">
    <link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/slicknav.min.css" th:href="@{/assets/css/slicknav.min.css}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="../../static/assets/css/typography.css" th:href="@{/assets/css/typography.css}">
    <link rel="stylesheet" href="../../static/assets/css/default-css.css" th:href="@{/assets/css/default-css.css}">
    <link rel="stylesheet" href="../../static/assets/css/styles.css" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/css/responsive.css" th:href="@{/assets/css/responsive.css}">
    <!-- modernizr css -->
    <script src="../../static/assets/js/vendor/modernizr-2.8.3.min.js" th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
<!--                <a href="dashboard.html"><img src="../../static/assets/images/icon/logo.png" alt="logo"></a>-->
                <a href="dashboard.html">TĐ Mobile</a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>dashboard</span></a>
                            <ul class="collapse">
                                <li><a href="dashboard.html">ICO dashboard</a></li>
                                <li><a href="dashboard2.html">Ecommerce dashboard</a></li>
                                <li><a href="dashboard3.html">SEO dashboard</a></li>
                            </ul>
                        </li>
                        <!-- Quản lý nhân viên -->
                        <li>
                            <a href="/management/staff" aria-expanded="true"><i class="fa fa-users"></i><span>Quản lý nhân viên</span></a>
                        </li>
                        <!-- Quản lý khách hàng -->
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-user"></i><span>Quản lý khách hàng</span></a>
                        </li>
                        <!-- Quản lý sản phẩm -->
                        <li>
                            <a href="quanLySanPham.html" aria-expanded="true"><i class="fa fa-mobile"></i><span>Quản lý sản phẩm</span></a>
                        </li>
                        <!-- Quản lý đơn hàng -->
                        <li>
                            <a href="quanLyDonHang.html" aria-expanded="true"><i class="fa fa-shopping-cart"></i><span>Quản lý đơn hàng</span></a>
                        </li>
                        <!-- Quản lý danh mục -->
                        <li>
                            <a href="/management/categories" aria-expanded="true"><i class="fa fa-list"></i><span>Quản lý danh mục</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->

    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box pull-left">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search..." required>
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->

        <!-- Thông báo thành công với thanh tiến trình -->
        <div id="successNotification" class="alert alert-success" th:if="${successMessage}">
            <strong>Thành công!</strong><br>
            <span th:text="${successMessage}"></span>
            <div id="progressBar" class="progress mt-2" style="height: 5px;">
                <div id="progress" class="progress-bar bg-success" role="progressbar" style="width: 100%;"></div>
            </div>
        </div>

        <!-- Thông báo thất bại với thanh tiến trình -->
        <div id="errorNotification" class="alert alert-danger" th:if="${errorMessage}">
            <strong>Thất bại!</strong><br>
            <span th:text="${errorMessage}"></span>
            <div id="errorProgressBar" class="progress mt-2" style="height: 5px;">
                <div id="errorProgress" class="progress-bar bg-danger" role="progressbar" style="width: 100%;"></div>
            </div>
        </div>


        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Quản lý khách hàng</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="/management/dashboard">Trang chủ</a></li>
                            <li><span>Quản lý khách hàng</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="../../static/assets/images/author/avatar.png"  th:src="@{/assets/images/author/avatar.png}" alt="avatar">
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown" th:text="${username}"><i class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Message</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->

        <div class="main-content-inner">
            <div class="container mt-4">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <a href="themKhachHang.html" th:href="@{/management/customers/op_add}">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#addCustomerModal">
                                <i class="fa fa-plus"></i> Thêm khách hàng mới
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <form action="/management/customers" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tìm kiếm khách hàng..." name="searchQuery" th:value="${searchQuery}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Thêm div với class table-responsive -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center" style="min-width: 1000px;">
                        <thead class="bg-primary text-white">
                        <tr>
                            <th>Mã KH</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>CCCD</th>
                            <th>Địa chỉ</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cs : ${customers}">
                            <td th:text="${cs.userId}"></td>
                            <td th:text="${cs.fullname}"></td>
                            <td th:text="${cs.email}"></td>
                            <td th:text="${cs.phone}"></td>
                            <td th:text="${cs.CCCD}"></td>
                            <td th:text="${cs.address}"></td>
                            <td th:text="${cs.dob}"></td>
                            <td th:text="${cs.gender}"></td>
                            <td>
                                <span class="badge" th:classappend="${cs.status == 'Hoạt động' ? 'badge-success' : 'badge-danger'}" th:text="${cs.status}"></span>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center gap-2">
                                    <form action="#" th:action="@{/management/customers/op_update}" method="POST">
                                        <input type="hidden" name="userId" th:value="${cs.userId}" />
                                        <button type="submit" class="btn btn-primary btn-sm mr-2" title="Sửa">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </form>
                                    <button class="btn btn-danger btn-sm" title="Xóa" data-toggle="modal"
                                            data-target="#deleteCustomerModal" th:data-id="${cs.userId}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <!-- Thêm các dòng khách hàng khác tương tự -->
                        </tbody>
                    </table>
                </div>
                <!-- Phân trang -->
                <nav class="mt-3">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${customers.hasPrevious()} ? '' : 'disabled'">
                            <a class="page-link" href="?page=0"  th:href="@{/management/customers(page=${customers.number - 1}, searchQuery=${searchQuery})}" tabindex="-1">Trước</a>
                        </li>
                        <!-- Lặp qua các trang -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, customers.totalPages - 1)}"
                            th:classappend="${i == customers.number ? 'active' : ''}">
                            <a class="page-link" th:href="@{/management/customers(page=${i}, searchQuery=${searchQuery})}">[[${i + 1}]]</a>
                        </li>
                        <li class="page-item" th:classappend="${customers.hasNext()} ? '' : 'disabled'">
                            <a class="page-link" th:href="@{/management/customers(page=${customers.number + 1}, searchQuery=${searchQuery})}" >Sau</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <div class="footer-area">
            <p>© Copyright 2025.</p>
        </div>
    </footer>
    <!-- footer area end-->
</div>
<!-- page container area end -->
<!-- offset area start -->
<div class="offset-area">
    <div class="offset-close"><i class="ti-close"></i></div>
    <ul class="nav offset-menu-tab">
        <li><a class="active" data-toggle="tab" href="#activity">Activity</a></li>
        <li><a data-toggle="tab" href="#settings">Settings</a></li>
    </ul>

</div>
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="../../static/assets/js/vendor/jquery-2.2.4.min.js" th:src="@{/assets/js/vendor/jquery-2.2.4.min.js}"></script>
    <!-- bootstrap 4 js -->
    <script src="../../static/assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
    <script src="../../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script src="../../static/assets/js/owl.carousel.min.js" th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script src="../../static/assets/js/metisMenu.min.js" th:src="@{/assets/js/metisMenu.min.js}"></script>
    <script src="../../static/assets/js/jquery.slimscroll.min.js" th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
    <script src="../../static/assets/js/jquery.slicknav.min.js" th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

    <!-- others plugins -->
    <script src="../../static/assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"></script>
    <script src="../../static/assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>


<!-- Modal Xác nhận xóa -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Xác nhận xóa khách hàng</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center mb-4">
                    <i class="fa fa-exclamation-triangle text-danger" style="font-size: 50px;"></i>
                </div>
                <p class="text-center">Bạn có chắc chắn muốn xóa khách hàng này?</p>
                <p class="text-center text-danger"><strong>Lưu ý:</strong> Hành động này không thể hoàn tác!</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i> Hủy
                </button>

                <!-- Form gửi POST tới controller để xóa khách hàng -->
                <form id="deleteCustomerForm" action="#" th:action="@{/management/customers/delete}" method="POST">
                    <!-- Trường ẩn để chứa userId -->
                    <input type="hidden" name="userId" id="userIdToDelete"/>
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Xóa
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Style chỉ áp dụng cho modal -->
<style>
    #deleteCustomerModal .modal-content {
        border-radius: 8px;
        border: none;
    }

    #deleteCustomerModal .modal-header {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 1rem 1.5rem;
    }

    #deleteCustomerModal .modal-header .close {
        color: white;
        opacity: 1;
        text-shadow: none;
    }

    #deleteCustomerModal .modal-body {
        padding: 2rem;
    }

    #deleteCustomerModal .modal-footer {
        border-top: 1px solid #dee2e6;
        padding: 1rem;
    }

    #deleteCustomerModal .modal-footer .btn {
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
    }

    #deleteCustomerModal .modal-footer .btn i {
        margin-right: 5px;
    }

    #deleteCustomerModal .fa-exclamation-triangle {
        animation: shake 0.5s ease-in-out;
    }

    @keyframes shake {
        0%, 100% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        75% { transform: translateX(5px); }
    }
</style>

<!--Style áp dụng cho thông báo thành công-->
<style>
    #successNotification {

    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    width: 300px;
    padding: 15px;
    background-color: #eafaf1; /* Nền sáng hơn */
    color: #28a745; /* Chữ xanh lá */
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    animation: slideIn 0.5s ease-in-out;
    }

    #successNotification strong {
    font-weight: bold;
    }

    #successNotification span {
    display: block;
    margin-top: 5px;
    word-wrap: break-word;  /* Đảm bảo chữ không vượt ra ngoài */
    }

    #progressBar {
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 10px;
    }

    #progress {
    width: 100%;
    height: 5px;
    background-color: #5cb85c;
    border-radius: 3px;
    }

    /* Animation for sliding in */
    @keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
    }
</style>

<!-- Style áp dụng cho thông báo thất bại-->
<style>
    #errorNotification {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
        width: 300px;
        padding: 15px;
        background-color: #f8d7da; /* Nền màu đỏ nhạt */
        color: #dc3545; /* Chữ đỏ */
        border-radius: 8px;
        font-size: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        animation: slideIn 0.5s ease-in-out;
    }

    #errorNotification strong {
        font-weight: bold;
    }

    #errorNotification span {
        display: block;
        margin-top: 5px;
        word-wrap: break-word;  /* Đảm bảo chữ không vượt ra ngoài */
    }

    #errorProgressBar {
        height: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        margin-top: 10px;
    }

    #errorProgress {
        width: 100%;
        height: 5px;
        background-color: #dc3545;
        border-radius: 3px;
    }

    /* Animation for sliding in */
    @keyframes slideIn {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }
</style>

<!-- Script for success notification -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var successMessage = /*[[${successMessage}]]*/ 'null';
    if (successMessage !== 'null') {
        var successNotification = document.getElementById('successNotification');
        var successProgressBar = document.getElementById('progress');
        var successProgress = 100; // Initial value of the progress bar

        // Display the notification
        successNotification.style.display = 'block';

        // Progress bar decreases from 100% to 0%
        var successInterval = setInterval(function() {
            if (successProgress > 0) {
                successProgress -= 1;
                successProgressBar.style.width = successProgress + '%';
            } else {
                clearInterval(successInterval); // Stop the progress when it reaches 0%
                setTimeout(function() {
                    successNotification.style.display = 'none'; // Hide the notification after completion
                }, 500); // Wait 500ms for the progress bar to disappear gradually
            }
        }, 30); // Every 30ms, decrease the progress bar by 1%

        // Hide the notification after 5 seconds (along with the progress bar)
        setTimeout(function() {
            if (successProgress > 0) { // If the progress bar is not yet completed
                clearInterval(successInterval); // Stop the progress bar
                successProgressBar.style.width = '0%'; // Set the progress bar to 0%
                successNotification.style.display = 'none'; // Hide the notification
            }
        }, 5000); // 5000 ms = 5 seconds
    }
    /*]]>*/
</script>

<!-- Script for error notification -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var errorMessage = /*[[${errorMessage}]]*/ 'null';
    if (errorMessage !== 'null') {
        var errorNotification = document.getElementById('errorNotification');
        var errorProgressBar = document.getElementById('errorProgress');
        var errorProgress = 100; // Initial value of the progress bar

        // Display the notification
        errorNotification.style.display = 'block';

        // Progress bar decreases from 100% to 0%
        var errorInterval = setInterval(function() {
            if (errorProgress > 0) {
                errorProgress -= 1;
                errorProgressBar.style.width = errorProgress + '%';
            } else {
                clearInterval(errorInterval); // Stop the progress when it reaches 0%
                setTimeout(function() {
                    errorNotification.style.display = 'none'; // Hide the notification after completion
                }, 500); // Wait 500ms for the progress bar to disappear gradually
            }
        }, 30); // Every 30ms, decrease the progress bar by 1%

        // Hide the notification after 5 seconds (along with the progress bar)
        setTimeout(function() {
            if (errorProgress > 0) { // If the progress bar is not yet completed
                clearInterval(errorInterval); // Stop the progress bar
                errorProgressBar.style.width = '0%'; // Set the progress bar to 0%
                errorNotification.style.display = 'none'; // Hide the notification
            }
        }, 5000); // 5000 ms = 5 seconds
    }
    /*]]>*/
</script>

<!-- Script cho chức năng xóa khách hàng -->
<script>
    // Lắng nghe sự kiện khi modal được mở
    $('#deleteCustomerModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Lấy button đã mở modal
        var userId = button.data('id'); // Lấy userId từ thuộc tính data-id
        var modal = $(this);

        // Cập nhật giá trị của input hidden trong form modal
        modal.find('#userIdToDelete').val(userId);
    });
</script>

</body>

</html>
