<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TĐ Mobile - Quản lý đơn hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../../static/assets/images/icon/favicon.ico" th:href="@{/assets/images/icon/favicon.ico}">
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/themify-icons.css" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" href="../../static/assets/css/metisMenu.css" th:href="@{/assets/css/metisMenu.css}">
    <link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../../static/assets/css/slicknav.min.css" th:href="@{/assets/css/slicknav.min.css}">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../../static/assets/css/typography.css" th:href="@{/assets/css/typography.css}">
    <link rel="stylesheet" href="../../static/assets/css/default-css.css" th:href="@{/assets/css/default-css.css}">
    <link rel="stylesheet" href="../../static/assets/css/styles.css" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" href="../../static/assets/css/responsive.css" th:href="@{/assets/css/responsive.css}">
    <script src="../../static/assets/js/vendor/modernizr-2.8.3.min.js" th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">
        <!-- Sidebar Menu -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="dashboard.html"><img src="../../static/assets/images/icon/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li><a href="dashboard.html"><i class="ti-dashboard"></i><span>Dashboard</span></a></li>
                            <li><a href="quanLyNhanVien.html"><i class="fa fa-users"></i><span>Quản lý nhân viên</span></a></li>
                            <li><a href="quanLyKhachHang.html"><i class="fa fa-user"></i><span>Quản lý khách hàng</span></a></li>
                            <li><a href="quanLySanPham.html"><i class="fa fa-mobile"></i><span>Quản lý sản phẩm</span></a></li>
                            <li class="active"><a href="quanLyDonHang.html"><i class="fa fa-shopping-cart"></i><span>Quản lý đơn hàng</span></a></li>
                            <li><a href="quanLyDanhMuc.html"><i class="fa fa-list"></i><span>Quản lý danh mục</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <!-- Header Area -->
            <div class="header-area">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page Title -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Quản lý đơn hàng</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="dashboard.html">Trang chủ</a></li>
                                <li><span>Quản lý đơn hàng</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="../../static/assets/images/author/avatar.png" th:src="@{assets/images/author/avatar.png}" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Admin <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Content Inner -->
            <div class="main-content-inner">
                <div class="container mt-4">
                    <!-- Search and Filter Section -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tìm kiếm đơn hàng...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i> Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex justify-content-end">
                                <select class="form-control mr-2" style="width: 200px;">
                                    <option value="">Tất cả trạng thái</option>
                                    <option value="pending">Chờ xử lý</option>
                                    <option value="processing">Đang xử lý</option>
                                    <option value="shipping">Đang giao hàng</option>
                                    <option value="completed">Đã hoàn thành</option>
                                    <option value="cancelled">Đã hủy</option>
                                </select>
                                <button class="btn btn-secondary">
                                    <i class="fa fa-filter"></i> Lọc
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Orders Table -->
                    <div class="table-responsive">
                        <table class="table table-bordered text-center" style="min-width: 1500px;">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th style="min-width: 100px;">Mã ĐH</th>
                                    <th style="min-width: 150px;">Khách hàng</th>
                                    <th style="min-width: 150px;">Số điện thoại</th>
                                    <th style="min-width: 200px;">Địa chỉ</th>
                                    <th style="min-width: 150px;">Ngày đặt</th>
                                    <th style="min-width: 150px;">Tổng tiền</th>
                                    <th style="min-width: 150px;">Phương thức TT</th>
                                    <th style="min-width: 150px;">Trạng thái</th>
                                    <th style="min-width: 200px;">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>DH001</td>
                                    <td>Nguyễn Văn A</td>
                                    <td>0987654321</td>
                                    <td>123 Đường ABC, Quận 1, TP.HCM</td>
                                    <td>01/03/2024</td>
                                    <td>28.990.000đ</td>
                                    <td>Thanh toán khi nhận hàng</td>
                                    <td>
                                        <select class="form-control status-select" onchange="updateStatus(this, 'DH001')">
                                            <option value="pending">Chờ xử lý</option>
                                            <option value="processing">Đang xử lý</option>
                                            <option value="shipping">Đang giao hàng</option>
                                            <option value="completed">Đã hoàn thành</option>
                                            <option value="cancelled">Đã hủy</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <button class="btn btn-info btn-sm mr-2" title="Chi tiết" onclick="viewOrderDetails('DH001')">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary btn-sm mr-2" title="Cập nhật" data-toggle="modal" data-target="#updateOrderModal">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm" title="Hủy đơn">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Thêm các dòng đơn hàng khác tương tự -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination -->
                    <nav class="mt-3">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Trước</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2024. TĐ Mobile - Hệ thống bán lẻ điện thoại di động.</p>
            </div>
        </footer>
    </div>

    <!-- Modal Chi tiết đơn hàng -->
    <div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chi tiết đơn hàng #<span id="orderIdDetail"></span></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h6>Thông tin khách hàng</h6>
                            <p><strong>Tên khách hàng:</strong> <span id="customerName"></span></p>
                            <p><strong>Số điện thoại:</strong> <span id="customerPhone"></span></p>
                            <p><strong>Địa chỉ:</strong> <span id="customerAddress"></span></p>
                        </div>
                        <div class="col-md-6">
                            <h6>Thông tin đơn hàng</h6>
                            <p><strong>Ngày đặt:</strong> <span id="orderDate"></span></p>
                            <p><strong>Trạng thái:</strong> <span id="orderStatus"></span></p>
                            <p><strong>Phương thức thanh toán:</strong> <span id="paymentMethod"></span></p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody id="orderItems">
                                <!-- Các sản phẩm sẽ được thêm vào đây bằng JavaScript -->
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-right"><strong>Tổng tiền:</strong></td>
                                    <td id="totalAmount"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="updateOrderBtn">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cập nhật đơn hàng -->
    <div class="modal fade" id="updateOrderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật đơn hàng #<span id="updateOrderId"></span></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateOrderForm">
                        <div class="form-group">
                            <label>Trạng thái đơn hàng</label>
                            <select class="form-control" id="updateOrderStatus">
                                <option value="pending">Chờ xử lý</option>
                                <option value="processing">Đang xử lý</option>
                                <option value="shipping">Đang giao hàng</option>
                                <option value="completed">Đã hoàn thành</option>
                                <option value="cancelled">Đã hủy</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <textarea class="form-control" id="updateOrderNote" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" onclick="saveOrderUpdate()">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Thêm các script cần thiết -->
    <script src="../../static/assets/js/vendor/jquery-2.2.4.min.js" th:src="@{/assets/js/vendor/jquery-2.2.4.min.js}"></script>
    <script src="../../static/assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
    <script src="../../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script src="../../static/assets/js/owl.carousel.min.js" th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script src="../../static/assets/js/metisMenu.min.js" th:src="@{/assets/js/metisMenu.min.js}"></script>
    <script src="../../static/assets/js/jquery.slimscroll.min.js" th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
    <script src="../../static/assets/js/jquery.slicknav.min.js" th:src="@{/assets/js/jquery.slicknav.min.js}"></script>
    <script src="../../static/assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"></script>
    <script src="../../static/assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>

    <!-- Script xử lý các chức năng đơn hàng -->
    <script>
        // Xem chi tiết đơn hàng
        function viewOrderDetails(orderId) {
            // Giả lập lấy dữ liệu đơn hàng
            const orderData = {
                id: orderId,
                customerName: "Nguyễn Văn A",
                customerPhone: "0987654321",
                customerAddress: "123 Đường ABC, Quận 1, TP.HCM",
                orderDate: "01/03/2024",
                status: "Đang xử lý",
                paymentMethod: "Thanh toán khi nhận hàng",
                items: [
                    {
                        name: "iPhone 13 Pro Max",
                        price: "28.990.000đ",
                        quantity: 1,
                        total: "28.990.000đ"
                    }
                ],
                totalAmount: "28.990.000đ"
            };

            // Cập nhật thông tin vào modal
            $('#orderIdDetail').text(orderData.id);
            $('#customerName').text(orderData.customerName);
            $('#customerPhone').text(orderData.customerPhone);
            $('#customerAddress').text(orderData.customerAddress);
            $('#orderDate').text(orderData.orderDate);
            $('#orderStatus').text(orderData.status);
            $('#paymentMethod').text(orderData.paymentMethod);
            $('#totalAmount').text(orderData.totalAmount);

            // Cập nhật bảng sản phẩm
            let itemsHtml = '';
            orderData.items.forEach(item => {
                itemsHtml += `
                    <tr>
                        <td>${item.name}</td>
                        <td>${item.price}</td>
                        <td>${item.quantity}</td>
                        <td>${item.total}</td>
                    </tr>
                `;
            });
            $('#orderItems').html(itemsHtml);

            // Hiển thị modal
            $('#orderDetailsModal').modal('show');
        }

        // Cập nhật trạng thái đơn hàng
        function updateStatus(selectElement, orderId) {
            const newStatus = selectElement.value;
            // Thực hiện cập nhật trạng thái
            console.log(`Cập nhật trạng thái đơn hàng ${orderId} thành ${newStatus}`);
        }

        // Lưu cập nhật đơn hàng
        function saveOrderUpdate() {
            const status = $('#updateOrderStatus').val();
            const note = $('#updateOrderNote').val();
            // Thực hiện lưu cập nhật
            console.log('Cập nhật đơn hàng:', { status, note });
            $('#updateOrderModal').modal('hide');
        }

        // Xử lý tìm kiếm đơn hàng
        $('.search-box input').on('keyup', function() {
            const searchTerm = $(this).val().toLowerCase();
            // Thực hiện tìm kiếm
            console.log('Tìm kiếm:', searchTerm);
        });

        // Xử lý lọc đơn hàng theo trạng thái
        $('select').on('change', function() {
            const filterValue = $(this).val();
            // Thực hiện lọc
            console.log('Lọc theo trạng thái:', filterValue);
        });
    </script>
</body>
</html>